### Sex Ratio of Children of Indian Politicians

In [1]:
import os
import json
import requests
import pandas as pd
import scipy.stats as stats

df_list = []

for filename in os.listdir("data/"):
    print(filename)
    with open(os.path.join("data/", filename), "r") as f:
            data = json.load(f)
    df = pd.DataFrame(data['membersDtoList'])
    df['ls'] = filename[3:-5]
    df_list.append(df)

df = pd.concat(df_list)

ls_17.json
ls_16.json
ls_13.json
ls_14.json
ls_15.json
ls_12.json

In [2]:
df.shape

(3196, 33)

In [3]:
## Filter out NaNs
df_small = df.loc[~ (df['numberOfSons'].isna() | df['numberOfDaughters'].isna())]
df_small.shape

(2983, 33)

In [4]:
sum(df_small['numberOfSons'])/sum(df_small['numberOfDaughters'])

1.0831937465103294

In [5]:
# Filter on ls members with kids
df['total_kids'] = df['numberOfDaughters'] + df['numberOfSons']

df_kids = df[df['total_kids'] > 0]
df_kids['prop_daughter'] = df_kids.loc[:, 'numberOfDaughters'] / df_kids.loc[:, 'total_kids']

print(df_kids['prop_daughter'].mean())

# Perform the t-test
t, p = stats.ttest_1samp(df_kids['prop_daughter'], popmean = 0.4878)

# Print the results
print('t =', t)
print('p =', p)

0.4629706140322832
t = -3.978054398286268
p = 7.130397870998785e-05

/tmp/ipykernel_1072539/345573841.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kids['prop_daughter'] = df_kids.loc[:, 'numberOfDaughters'] / df_kids.loc[:, 'total_kids']

In [6]:
df['total_kids'].mean()

2.5015085484411665

In [7]:
df_kids.groupby('ls')['prop_daughter'].mean()

ls
12    0.461634
13    0.464026
14    0.462615
15    0.469007
16    0.469267
17    0.451103
Name: prop_daughter, dtype: float64

In [10]:
adf = df.groupby('ls')[['numberOfSons', 'numberOfDaughters']].sum().reset_index()
adf['sex_ratio'] = adf['numberOfSons']/adf['numberOfDaughters']
adf

   ls  numberOfSons  numberOfDaughters  sex_ratio
0  12         472.0              444.0   1.063063
1  13         775.0              742.0   1.044474
2  14         755.0              676.0   1.116864
3  15         655.0              630.0   1.039683
4  16         609.0              552.0   1.103261
5  17         614.0              538.0   1.141264